<div class="container py-5">
    <h2 class="text-center mb-4 display-4">Contacto</h2> 
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card bg-dark text-white shadow-lg"> 
          <div class="card-body">
            <h5 class="card-title">Contáctanos</h5>
            <p class="card-text"><i class="fas fa-phone-alt"></i> <strong>Teléfono: </strong> +54 9 223 123 4567</p>
            <p class="card-text"><i class="fas fa-envelope"></i> <strong>Email: </strong> <a href="mailto:info@hotelesdelsur.com" class="text-white">info&#64;hotelesdelsur.com</a></p> 
            <p class="card-text"><i class="fas fa-map-marker-alt"></i> <strong>Dirección: </strong> Libertad 131, 8400 Puerto Madryn, Chubut, Argentina</p>
            <p class="card-text"><i class="fas fa-clock"></i> <strong>Horario de Atención: </strong> Lunes a Viernes, 8:00 AM - 6:00 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  