.dashboard-container {
  margin: 20px auto;
  width: 80%;
  font-family: 'Helvetica', sans-serif;
}

.dashboard-tittle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.dashboard-subtitle, .reservations-tittle, .checkin-subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.percentage {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  margin: 10px;
}

.occupancy, .checkin {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 30px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #1458a5;
  width: 0;
  transition: width 0.3s ease;
}

.reservations {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.reservation-list, .checkin-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.reservation-item, .checkin-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation-info, .checkin-info {
  line-height: 1.6;
}
