<div class="dashboard-container">
    <h2>Dashboard</h2>
  
    <div class="occupancy">
      <h3>Ocupación del Hotel para el dia de hoy</h3>
      <p>{{ occupancyPercentage }}%</p>
    </div>
  
    <div class="reservations">
      <h3>Reservaciones proximas dentro de la Semana</h3>
      <ul>
        <div *ngFor="let reservation of getReservationsForWeek()">
         <br> <strong>Check-In:</strong> {{ reservation.checkInDate  }}<br>
          <strong>Check-Out:</strong> {{ reservation.checkOutDate  }}<br>
          <strong>Número de Huéspedes:</strong> {{ reservation.guests }}<br>
          <strong>Numero de Habitación:</strong> {{ reservation.roomId }}<br>
          <strong>User ID:</strong> {{ reservation.userId }}<br>
        </div>
    
      </ul>
    </div>
  </div>