<div class="text-column">
    <div class="media-card blank-card">
      <h1>{{ singleRoomInfo?.title }}</h1>
      <p *ngFor="let desc of singleRoomInfo?.description">{{ desc }}</p>
    </div>
  </div>
  
  <div class="media-column">
    <div *ngIf="photoMedia.length" class="photo media-wrapper">
      <div class="actual media-card" *ngIf="photoMedia.length > 0">
        <img [src]="photoMedia[currentPhotoSlide].src.medium" alt="Image">
        <div class="carrousel-buttons">
          <button class="prev-button" (click)="prevPhoto()">&#10094;</button>
          <button class="next-button" (click)="nextPhoto()">&#10095;</button>
        </div>
      </div>
    </div>
  </div>
  