<div class="reservation-edit-container">
  <h2>Editar Reserva</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="editForm" novalidate>

    <div class="form-group">
      <label for="id">Número</label>
      <input type="text" id="id" formControlName="id" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="checkInDate">Fecha de Check-In</label>
      <input type="date" id="checkInDate" formControlName="checkInDate" required class="form-control" />
      <div *ngIf="editForm.get('checkInDate')?.invalid && editForm.get('checkInDate')?.touched" class="error">
        La fecha de check-in es obligatoria.
      </div>
    </div>

    <div class="form-group">
      <label for="checkOutDate">Fecha de Check-Out</label>
      <input type="date" id="checkOutDate" formControlName="checkOutDate" required class="form-control" />
      <div *ngIf="editForm.get('checkOutDate')?.invalid && editForm.get('checkOutDate')?.touched" class="error">
        La fecha de check-out es obligatoria.
      </div>
    </div>

    <div class="form-group">
      <label for="guests">Huespedes</label>
      <input type="text" id="guests" formControlName="guests" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="roomId">Número Habitación</label>
      <input type="text" id="roomId" formControlName="roomId" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="userId">Número Usuario</label>
      <input type="text" id="userId" formControlName="userId" class="form-control"/>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Guardar Cambios</button>
    </div>
  </form>
</div>
