.text-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 2%;
}

.media-column {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin: 2%;
  justify-content: space-between;
}

.text-column .media-card {
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}



.blank-card h1 {
  font-family: 'Candara', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3b88c7;
  text-align: center;
}

.blank-card p {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.media-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2%;
  align-items: center;
  max-width: 640px;
  max-height: 360px;
  justify-content: space-between;
}

.carrousel {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2%;
  align-items: center;
  justify-content: space-between;
}

.media-card{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2%;
  align-items: center;
  justify-content: space-between;
}

.media-wrapper video {
  max-width: 100%;
  width: auto;
}

.media-wrapper img {
  max-height: 320px;
  width: auto;
}


.carrousel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.prev-button,.next-button {
  background-color: rgb(59, 136, 199);
  border: none;
  opacity: 70%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}

.prev-button {
  align-self: flex-start;
}

.next-button {
  align-self: flex-end; /* Right alignment (optional styling) */
}

