<header class="bg-dark text-white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Hoteles del Sur ★★★</a>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" (click)="goHome()">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['services']">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]= "['contact']">Contacto</a></li>
        </ul>
        <div *ngIf="userIsLoggedIn(); then loggedInOptions else authOptions"></div>
        <ng-template #loggedInOptions>
          <div *ngIf="loggedInUser?.role == Role.ADMIN_ROLE; then adminOptions else userOptions"></div>
          <ng-template #adminOptions>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <div class="dropdown nav-link">
                  <button class="dropdown-button">Oficina Administrativa</button>
                  <div class="dropdown-content">
                    <a href="#">Reservas</a>
                    <a [routerLink]="['services/list']" >Servicios</a>
                    <a [routerLink]="['rooms/list']">Habitaciones</a>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" (click)="logout()">Cerrar Sesión</a></li>
            </ul>
          </ng-template>
          <ng-template #userOptions>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" [routerLink]="['profile']">Mi perfil</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['reservations']">Mis reservas</a></li>
              <li class="nav-item"><a class="nav-link" (click)="logout()">Cerrar Sesión</a></li>
            </ul>
          </ng-template>
        </ng-template>
        <ng-template #authOptions>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['register']">Registrarse</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['login']">Iniciar Sesión</a></li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
