.services-section {
  margin: 20px auto;
  width: 80%;
}

.title-and-button {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
}

.services-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.btn-add {
  background-color: #27b52c; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  opacity: 0.8;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.service-card p {
  margin: 5px 0;
}

.service-card strong {
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 20px;
  top: 20px;
}

button.btn-cancel {
  background-color: #932222;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

button.btn-cancel:hover {
  opacity: 0.8;
}