.rooms-section {
    text-align: center;
  }
  
  .rooms-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .rooms-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .room-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .room-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .room-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .confirm-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   margin-bottom: 20px;
  }
  
  .confirm-btn {
    text-align: center;
  }

  .reservation-form {
    margin-top: 20px; 
    width: 100%; 
  }
  
  .reservation-form mat-form-field {
    width: 100%; 
  }
  
  button {
    display: block;
    width: 100%; 
    margin-top: 10px; 
  }