<div class="dashboard-container">
  <h2 class="dashboard-tittle">Informes</h2>

  <div class="flex-container">
    <div class="flex-item occupancy">
      <h2 class="dashboard-subtitle">Ocupación del Hotel para el {{ today | date:'d / M' }}</h2>
      <p class="percentage">{{ occupancyPercentage }}%</p>
      <div class="progress-bar-container">
        <div class="progress-bar" [style.width.%]="occupancyPercentage"></div>
      </div>
    </div>
    
    <div class="flex-item checkin">
      <h2 class="checkin-subtitle">Check-In del {{ today | date:'d / M' }}</h2>
      <ul class="checkin-list">
        <li *ngFor="let checkIn of getCheckInsToday()" class="checkin-item">
          <div class="checkin-info">
            <strong>Check-In:</strong> {{ checkIn.checkInDate | date }}<br>
            <strong>Check-Out:</strong> {{ checkIn.checkOutDate | date }}<br>
            <strong>Número de Huéspedes:</strong> {{ checkIn.guests }}<br>
            <strong>Número de Habitación:</strong> {{ checkIn.roomId }}<br>
            <strong>Usuario:</strong> {{ checkIn.userName }} {{ checkIn.userLastName }}
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="reservations">
    <h2 class="reservations-tittle">Reservaciones del {{ today1 | date:'d / M' }} al {{ oneWeekFromNow | date:'d / M' }}</h2>
    <div *ngIf="getReservationsForWeek().length === 0">No hay reservaciones para esta semana.</div>
    <ul class="reservation-list">
      <li *ngFor="let reservation of getReservationsForWeek()" class="reservation-item">
        <div class="reservation-info">
          <strong>Check-In:</strong> {{ reservation.checkInDate | date }}<br>
          <strong>Check-Out:</strong> {{ reservation.checkOutDate | date }}<br>
          <strong>Número de Huéspedes:</strong> {{ reservation.guests }}<br>
          <strong>Número de Habitación:</strong> {{ reservation.roomId }}<br>
          <strong>Usuario:</strong> {{ reservation.userName }} {{ reservation.userLastName }}
        </div>
      </li>
    </ul>
  </div>
</div>
