<div class="rooms-section">
  <div class="title-and-button">
    <h2 class="rooms-title">Habitaciones</h2>
    <button class="btn-add" [routerLink]="['/rooms/list/add']">Agregar</button>
  </div>

  <div class="filter-and-list">
    <div class="filter-section">
      <h3>Filtrar por Precio</h3>
      <div class="filter-option" [class.selected]="filterText === 'bracketA'" (click)="applyPriceFilter('bracketA')">
        Hasta $50,000
      </div>
      <div class="filter-option" [class.selected]="filterText === 'bracketB'" (click)="applyPriceFilter('bracketB')">
        $50,000 a $75,000
      </div>
      <div class="filter-option" [class.selected]="filterText === 'bracketC'" (click)="applyPriceFilter('bracketC')">
        Más de $75,000
      </div>
    </div>

    <div *ngIf="filteredRooms.length > 0" class="rooms-list">
      <div *ngFor="let room of filteredRooms" class="room-card">
        <div class="hotel-icon">
          <mat-icon>hotel</mat-icon>
        </div>
        <p><strong>ID:</strong> {{ room.id }}</p>
        <p><strong>Tipo:</strong> {{ room.type }}</p>
        <p><strong>Capacidad:</strong> {{ room.details.capacity}} </p>
        <p><strong>Precio por Noche:</strong> {{ room.details.pricePerNight }}</p>
        <div class="button-group">
          <button mat-raised-button class="btn-cancel" (click)="openConfirmDialog(room.id)">Eliminar</button>
          <button mat-raised-button class="btn-edit" (click)="goToEditRooms(room.id)">Editar</button>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="filteredRooms.length === 0">
    <p>No hay habitaciones disponibles.</p>
  </div>

</div>
