<div *ngIf="showReservationForm; then reservationForm"></div>
<ng-template #reservationForm><app-reservation-form></app-reservation-form></ng-template>

<section class="history">
    <h2>Nuestra Historia</h2>
    <p class="description"> Nuestro hotel abrió sus puertas en 1990, con el objetivo de ofrecer una experiencia única a nuestros huéspedes.
        A lo largo de los años, hemos evolucionado y mejorado nuestras instalaciones, manteniendo siempre nuestro
        compromiso
        con la calidad y el servicio excepcional. </p>
    <p class="description"> Con una ubicación privilegiada en el corazón de la ciudad, nuestro
        hotel se ha convertido en un símbolo de hospitalidad y elegancia. Desde su inauguración, hemos recibido a miles
        de
        huéspedes de todo el mundo, creando recuerdos inolvidables y experiencias únicas. </p>
</section>
<section class="photos">
    <h2>Galería de Fotos</h2>
    <div class="photo-carousel">
        <div *ngFor="let photo of photoMedia" class="photo-slide">
            <img [src]="photo.src.original" alt="Hotel Photo">
        </div>
    </div>
</section>
<section class="testimonials">
    <h2>Testimonios de Clientes</h2>
    <div class="testimonial">
        <p>"Una experiencia increíble. El mejor servicio que he recibido en años. Definitivamente volveré."</p>
        <p class="author">- María Gómez</p>
    </div>
   
    <div class="testimonial">
        <p>"Las habitaciones son impecables y el personal es muy amable. Lo recomiendo al 100%."</p>
        <p class="author">- Juan Pérez</p>
    </div>
</section>
