div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

summary {
  background-color: #5692dc;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

summary:hover {
  background-color: #72a4e5;
}

summary {
  transition: background-color 0.3s ease;
}
